<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Веб версия</title>
        {% endif %}
    </head>
    <body>
    <div>
        <a href="/index">Домой</a>
        
        {% if current_user.is_authenticated %}
        <a href="/logout">Выйти</a>
        {% else %}
        <a href="/login">Залогиниться</a>
        {% endif %}

    </div>
        <hr>
         {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>